.todo-list-footer {
    width: 500px;
    display: flex;
    font-size: 17px;
}

.todo-list-footer__left-tasks {
    cursor: pointer;
    margin-right: auto;
    color: #555;
}

.todo-list-footer__button-clear-completed {
    margin-left: auto;
    text-decoration: none;
    color: #555;
    cursor: pointer;
    background: none;
    border: none;
}

.todo-list-footer__button-clear-completed:hover {
    border-bottom: 1px solid #555;
}