.full-article {
    margin: 30px;
    background-color: whitesmoke;
    width: 90vw;
    display: flex;
    align-self: center;
    flex-direction: row;
    position: relative;
}

.full-article-header {
    display: flex;
    flex-direction: column-reverse;
}

.full-article-header__image {
    max-width: 50vw;
    max-height: 50vh;
}

.full-article-header__title {
    margin: 0;
    padding: 20px;
    font-size: 36px;
    text-align: center;
}

.full-article__text {
    margin: 10px 20px 0 20px;
    padding: 10px 0;
    min-width: 0px;
    max-width: auto;
    word-wrap: break-word;
}

.full-article__link {
    text-decoration-line: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 24px;
    padding: 10px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}